@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-dark: #171719;
  --color-highlight: #d3f26a;
  --color-accent: #ad7bff;
  --color-light: #f2f4f0;
}

body {
    @apply justify-center items-center mx-auto min-h-screen ;
}

.font-outfit {
  font-family: var(--font-outfit);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-outfit);
}
